@model IEnumerable<ClothesShopDiplom.Models.Employee>
@{ ViewBag.Title = "Все пользователи"; }
<a asp-action="Create" asp-controller="employee">Добавить пользователя</a>
<table class="table">
    <tr><td>Фамилия</td><td>Имя</td><td>Отчество</td><td>Email</td>@*<td>Телефон</td>*@<td>Логин</td>@*<td>Пароль</td>*@<td>Роль</td></tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.Surname</td>
    <td>@item.Name</td>
    <td>@item.Patronymic</td>
    <td>@item.Email</td>
    @*<td>@item.PhoneNumber</td>*@
    <td>@item.Login</td>
    @*<td>@item.Password</td>*@
    <td>@Html.DisplayFor(modelItem => item.Role.RoleName)</td>
    <td>
     <a asp-action="Edit" asp-controller="employee" asp-route-id="@item.Id">Изменить</a>
    </td>
    <td><form asp-controller="employee" asp-action="Delete" method="post" asp-route-id="@item.Id"><input type="submit" value="Удалить" class="btn btn-outline-primary" /></form> </td>
</tr>}
</table>